* text=auto
*.js text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.cff text eol=lf
LaserScan-Lab.html linguist-generated=true -whitespace
